[submodule ".registry"]
	path = .registry
	url = https://github.com/mrubinst757/mrubinst757.r-universe.dev
	branch = HEAD
[submodule "marbounds"]
	path = marbounds
	url = https://github.com/mrubinst757/marbounds
